<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
</head>
<body>
<h1>Серия <font color="red">Killing floor</font></h1>
    <img src="{% static 'images/backg_kf.jpeg' %}" width="300" height="150">
    <ul>
        <li>{{ h1_p }}<button>Купить</button></li>
        <li>{{ first }}<button>Купить</button></li>
        <li>{{ second }}<button>Купить</button></li>
        <li>{{ fourth }}<button>Coming soon</button></li>
    </ul>
    <a href="/">{{ main_p }}</a>
</body>
</html>
