<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
</head>
<body>
<h1>Серия <font color="red">Killing floor</font></h1>
    <img src="{% static 'images/backg_kf.jpeg' %}" width="300" height="150">
    <ul>
        <li>Killing floor <button>Купить</button></li>
        <li>Killing floor 2 <button>Купить</button></li>
        <li>Killing floor: Incursion <button>Купить</button></li>
        <li>Killing floor 3 <button>Coming soon</button></li>
    </ul>
    <a href="/">На главную</a>
</body>
</html>